.buttons{
    width: 677px;
    height: auto;
    margin-top: 106px;
    margin-left: auto;
    margin-right: auto;
    &__button{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.03em;
        text-align: center;
        height:38px;
        border: none;
        border-radius: 4px;
        cursor:pointer;
        }
}

    .button1{
        width: 73px;
        margin:8px;
        background: getColor('primaryBlue');
        color: getColor('primaryWhite');
        transition: 250ms all cubic-bezier(0.4,0,0.2,1);

        &--active:hover{
            background-color: orangered;
        }
    }

.button2{
        width: 128px;
        margin:8px;
        background:getColor('secondWhite');
        transition: 250ms all cubic-bezier(0.4,0,0.2,1);


    }

    .button3{
        width: 145px;
        margin:8px;
        background: getColor('secondWhite');
        transition: 250ms all cubic-bezier(0.4,0,0.2,1);
    }

    .button4{
        width: 103px;
        margin:8px;
        background: getColor('secondWhite');
        transition: 250ms all cubic-bezier(0.4,0,0.2,1);
    }

    .button5{
        width: 130px;
        margin:8px;
        background: getColor('secondWhite');
        transition: 250ms all cubic-bezier(0.4,0,0.2,1);
    }

    .button{
        &--active:hover{
            background-color: getColor('primaryBlue');
            color:getColor('primaryWhite');
        }
    }

    @media  screen and (min-width: 480px) and (max-width: 767px) {
        .buttons{
            width: 400px;
            height: 91px;
            margin-top: 60px;
            margin-left: 15px;
        
            &__button{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
                text-align: center;
                letter-spacing: 0.03em;
                text-align: center;
                height:38px;
                border: none;
                border-radius: 4px;
                cursor:pointer;
                }
        }
        
            .button1{
                width: 73px;
                height:38px;
                background: getColor('primaryBlue');
                color: getColor('primaryWhite');
                transition: 250ms all cubic-bezier(0.4,0,0.2,1);
        
                &--active:hover{
                    background-color: orangered;
                }
            }
        
        .button2{
                width: 125px;
                height:38px;
                background:getColor('secondWhite');
                transition: 250ms all cubic-bezier(0.4,0,0.2,1);
        
        
            }
        
            .button3{
                width: 112px;
                height:38px;
                background: getColor('secondWhite');
                transition: 250ms all cubic-bezier(0.4,0,0.2,1);
            }
        
            .button4{
                width: 103px;
                height:38px;
                background: getColor('secondWhite');
                transition: 250ms all cubic-bezier(0.4,0,0.2,1);
            }
        
            .button5{
                width: 130px;
                height:38px;
                background: getColor('secondWhite');
                transition: 250ms all cubic-bezier(0.4,0,0.2,1);
            }
        
            .button{
                &--active:hover{
                    background-color: getColor('primaryBlue');
                    color:getColor('primaryWhite');
                }
            }
        
    }

    @media  screen and (min-width:768px) and (max-width:1200px){
        .buttons{
            max-width: 1200px;
            min-width: 768px;
            height: auto;
            margin-top: 50px;
            display: flex;
            justify-content: center;
            &__button{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
                text-align: center;
                letter-spacing: 0.03em;
                text-align: center;
                height:38px;
                border: none;
                border-radius: 4px;
                cursor:pointer;
                }
        }
        
            .button1{
                width: 73px;
                margin:8px;
                background: getColor('primaryBlue');
                color: getColor('primaryWhite');
                transition: 250ms all cubic-bezier(0.4,0,0.2,1);
        
                &--active:hover{
                    background-color: orangered;
                }
            }
        
        .button2{
                width: 128px;
                margin:8px;
                background:getColor('secondWhite');
                transition: 250ms all cubic-bezier(0.4,0,0.2,1);
        
        
            }
        
            .button3{
                width: 145px;
                margin:8px;
                background: getColor('secondWhite');
                transition: 250ms all cubic-bezier(0.4,0,0.2,1);
            }
        
            .button4{
                width: 103px;
                margin:8px;
                background: getColor('secondWhite');
                transition: 250ms all cubic-bezier(0.4,0,0.2,1);
            }
        
            .button5{
                width: 130px;
                margin:8px;
                background: getColor('secondWhite');
                transition: 250ms all cubic-bezier(0.4,0,0.2,1);
            }
        
            .button{
                &--active:hover{
                    background-color: getColor('primaryBlue');
                    color:getColor('primaryWhite');
                }
            }
        
    } 