.modal1{
    width: 528px;
    height: 581px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    border:none;
    background-color: getColor('primaryWhite');
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    overflow: hidden;


    &__close{
        width:30px;
        height: 30px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        position: absolute;
        right: 10px;
        top:10px;
        cursor:pointer;
        transition: 1s all cubic-bezier(0.4,0,0.2,1);

        &--active:hover{
            background-color: rgb(114, 113, 116);
        }
    }


    &__icon-close{
        position: absolute;
        right: 20%;
        top:20%;
        cursor:pointer;
        fill: getColor('primaryBlue');
    }

}

.form{
    margin:20px 40px;

    &__legend{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.03em;
        color: getColor('primaryBlack');
        margin-bottom: 10px;
    }



    &__label{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: getColor('primaryGrey');
        text-transform: capitalize;
    }



    &__picture{
        margin-bottom:15px;
    }


    &__icon{
        position:relative;
        margin-top: 20px;
        margin-left:5px;

      
    }



    &__input{
        width: 448px;
        height: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        margin-top: 10px;
        padding-left: 30px;
        position:absolute;

        &--border:focus{
            outline:1px solid getColor('primaryBlue');
            &~.form__icon--fill{
                fill:getColor('primaryBlue');
            }
        }
        
    }



    &__input-text{
        width: 449px;
        margin-top: 8px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        padding:12px 16px;
        height: 120px;


        &::placeholder{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);
        }

        &--active:focus{
            outline:1px solid getColor('primaryBlue');
        }
    }

    

    

    &__render{
        display:flex;
        margin-top: 10px;
        margin-left: 8px;
        font-size: 15px;
    }




    &__terms-conditions{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color:getColor('primaryGrey');
        margin-right: 8px;
        width: 15px;
        height: 15px;
        display: none;
      
        &--checked:checked~.form__hidden > .form__checkbox{
            visibility: visible;
        }
    }



    &__hidden{
        width: 20px;
        height: 20px;
        transition: 1s all cubic-bezier(0.4,0,0.2,1);
        margin-right: 10px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px; 
        margin-top: 5px;
    }

    &__checkbox{
    visibility: hidden;
    width:20px;
    height: 20px;
    cursor: pointer;
    border-radius: 4px; 
    }

    &__warning{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color:getColor('secondGrey');
        width: 400px;
        cursor:pointer;
    }


    &__center{
        width:100%;
        display:flex;
        justify-content: center;
        margin-top: 10px;
    }



    &__send-button{
        width: 200px;
        height: 50px;
        background:getColor('primaryBlue');
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border:none;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.06em;
        color:getColor('primaryWhite');
        cursor:pointer;
        transition: 250ms all cubic-bezier(0.4,0,0.2,1);


        &--active:hover{
            background-color: rgb(10, 10, 146);
        }
    }
} 